// =============== INITIAL =============== //

html, body, #app {
    height: 100%;
}

// =============== FONTS =============== //

@import url(https://fonts.googleapis.com/css?family=Varela+Round|Nova+Mono);

// =============== COLORS =============== //

// =============== ANIMATIONS =============== //

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0) scale(1);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(5px);
    }
}


.animated {
    &.bounce {
        &:hover {
            animation-name: bounce;
            animation-duration: 1.5s;
        }
    }

    &.slide-down {
        &:hover {
            animation-name: slide-down;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
        }
    }
}
